# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env*.local

# Rust build artifacts
target/
**/*.rs.bk

# Node.js dependencies & builds
node_modules/
.next/
dist/
build/
package-lock.json

# Soroban test artifacts
**/test_snapshots/

# OS files
.DS_Store
